

.navbar {
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--main-color);

    padding-left: 3rem;
    padding-right: 3rem;

    .logo {
        letter-spacing: 5px;
    }
    
    .links {
        display: flex;
        width: 25vw;
        justify-content: space-between;

        a {
            color: black;
            text-decoration: none;
        }
    }
}