.stack {
    font-family: "JetBrains Mono", monospace;
    display: inline-block;
    /* margin: 10px; */
    .stackIconsContainer {
        width: 30vw;
        height: 50vw;
        border: 5px solid grey;
        border-radius: 20px;
    }
    
    .stackName {
        font-size: 2rem;
        text-align: center;
    }

}

