@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.stack {
    font-family: "JetBrains Mono", monospace;
    display: inline-block;
    margin: 10px;
    .stackIconsContainer {
        width: 30vw;
        height: 50vw;
        border: 5px solid grey;
        border-radius: 20px;
    }
    
    .stackName {
        font-size: 2rem;
        text-align: center;
    }

}

